@import '../styles/general.css';


body {
 /* background-image: url(../resources/fondoin.avif);*/
 background-color: black;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  margin: 5px;
 font-family: "Glass Antiqua", cursive;
}

h1 {
  color: var(--color-1);
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
color: beige;
  padding: 80px;
  border-radius: 100px;
  /* max-width: 90%; */
  box-shadow: 0 0 50px 10px var(--color-1);
}



.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.login-button {
  background-color: var(--color-2);
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #8f8f8f;

}

@media (max-width: 768px) {
  .login-button {
    padding: 12px 25px;
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .login-button {
    padding: 10px 20px;
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  .container {
    padding: 15px;
  }
}